<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	  <add name="testTarget" connectionString="Data Source=.\sql2016;Initial Catalog=TestDb;Provider=sqloledb;Integrated Security=SSPI;"/>
	  <add name="sqlUser" connectionString="Data Source=.\sql2016;Initial Catalog=TestDb;Provider=sqloledb;User Id=SqlUser;Password=sFT7_#$!~kyawyodj6Mm"/>
  </connectionStrings>
  <appSettings>
    <add key="ssisServer" value=".\sql2016"/>
  </appSettings>
</configuration>

