<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="testTarget" connectionString="Data Source=.;Initial Catalog=SqlTestdb;Provider=sqloledb;Integrated Security=SSPI;"/>
	  <add name="sqlUser" connectionString="Data Source=.;Initial Catalog=SqlTestDb;Provider=sqloledb;User Id=SqlUser;Password=sFT7_#$!~kyawyodj6Mm"/>
  </connectionStrings>
  <appSettings>
    <add key="ssisServer" value="."/>
  </appSettings>
</configuration>

